
<div class="navbarf">
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand">
          <h6 [routerLink]="['/dashboard']" id="h6">UP! MUSIC</h6>
      </a>
      <h6 [routerLink]="['/login']" id="h6">Sair</h6>
  
    </nav>
  </div>
    <div class="grid-container">
  
      <div id="card1">
  
        <div id="card2" class="card bg-white rounded" style="width: 18rem;">
  
          <div class="card-body">
            <h5 class="card-title" id="do">Extra 1</h5>
            <section>
              <i class="fa fa-star" id="teste"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </section>
            <br>
            <button href="#" id="btn" [routerLink]="['/extras1']">Começar</button>
          </div>
        </div>
  
      </div>
  
      <div id="card1">
  
        <div id="card2" class="card bg-white rounded" style="width: 18rem;">
  
          <div class="card-body">
            <h5 class="card-title" id="do">Extra 2</h5>
            <section>
              <i class="fa fa-star" id="teste"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </section>
            <br>
            <button href="#" id="btn" [routerLink]="['/extras2']" >Começar</button>
          </div>
        </div>
  
      </div>
  
      <div id="card1">
  
        <div id="card2" class="card bg-white rounded" style="width: 18rem;">
  
          <div class="card-body">
            <h5 class="card-title" id="do">Extra 3</h5>
            <section>
              <i class="fa fa-star" id="teste"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </section>
            <br>
            <button href="#" id="btn" [routerLink]="['/extras3']" >Começar</button>
          </div>
        </div>
  
      </div>
  
      <div id="card1">
  
        <div id="card2" class="card bg-white rounded" style="width: 18rem;">
  
          <div class="card-body">
            <h5 class="card-title" id="do">Extra 4</h5>
            <section>
              <i class="fa fa-star" id="teste"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </section>
            <br>
            <button href="#" id="btn" [routerLink]="['/extras4']">Começar</button>
          </div>
        </div>
  
      </div>
  
     
  
  
  