<div *ngIf="tela == 'exe1'">
    <div class="texto">
        <h1>Qual sigla representa a nota “Lá”?</h1>
    <br>
    <div class="grid-container">
        <button id="btn" (click)="acertos()" (click)="desabilitarfuncao1()" [disabled]='campo2 && campo3'>
            <h1 id="C" style="color:black">A</h1>
        </button>
        <button id="btn" (click)="erros()">
            <h1 id="C" style="color:black">D</h1>
        </button>
        <button id="btn" (click)="erros()">
            <h1 id="C" style="color:black">F</h1>
        </button>
    </div>
    <br>
    <div class="Container" >
        <button (click)="inicialAvancar()" [disabled]='!verdadeiro' ><h2 id="vai">Próximo</h2></button>
    </div>
    
    </div>
    </div>
    
    <div *ngIf="tela == 'exe2'">
            <div class="texto">
                <h1>A nota “ Lá ” e um tom ou semitom. ?
                    <br>
                        *Tom- É a distância entre duas notas.
                    <br>
                        *Semitom- É a menor distância entre duas notas.
                        </h1>
            <br>
            <div class="grid-container">
                <button id="btn" (click)="acertos()"  (click)="desabilitarfuncao2()" [disabled]='campo2'>
                    <h1 id="C" style="color:black" >Tom</h1>
                </button>
                <button id="btn" (click)="erros()">
                    <h1 id="C" style="color:black">Semitom</h1>
                </button>
            </div>
            <br>
            <div class="Container" >
                <button (click)="inicialAvancar2()" [disabled]='!verdadeiro'><h2 id="vai">Próximo</h2></button>
            </div>
            
            </div>
            </div>
    
                <div *ngIf="tela == 'exe3'">
                        <div class="texto">
                            <h1>Quais notas formam a tríades de “ Lá ” ?</h1>
                        <br>
                        <div class="grid-container">
                            <button id="btn" (click)="erros()">
                                <h1 id="C" style="color:black">C - E - G</h1>
                            </button>
                            <button id="btn" (click)="acertos()" (click)="desabilitarfuncao3()"  [disabled]='campo1 && campo3'>
                                <h1 id="C" style="color:black">A - D# - E</h1>
                            </button>
                            <button id="btn" (click)="erros()">
                                <h1 id="C" style="color:black">G - G# - B</h1>
                            </button>
                        </div>
                        <br>
                        <div class="Container" >
                            <button (click)="resultado()" [disabled]='!verdadeiro' ><h2 id="vai">Próximo</h2></button>
                        </div>
                        
                        </div>
                        </div>
    
                        <div *ngIf="tela == 'resultado'">
                                <div class="texto">
                                    <h1>Parabéns você ganhou!</h1>
                                <br>
                                <section *ngIf="estrelasA == 1">
                                        <i class="fa fa-star" id="teste" ></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                </section>
                                <section *ngIf="estrelasA == 2">
                                    <i class="fa fa-star" id="teste" ></i>
                                    <i class="fa fa-star" id="teste"></i>
                                    <i class="fa fa-star"></i>
                                </section>
                                <section *ngIf="estrelasA == 3">
                                    <i class="fa fa-star" id="teste" ></i>
                                    <i class="fa fa-star" id="teste"></i>
                                    <i class="fa fa-star" id="teste"></i>
                                </section>
    
                                <br>
                                <div class="Container" >
                                    <button  [routerLink]="['/notas-musicais']" ><h2 id="vai">Continuar</h2></button>
                                </div>
                                
                                </div>
                                </div>
    