html body{
  margin: 0;
  padding: 0;
  background: rgb(243, 243, 243);
  background-size: cover;
}

.texto{
  text-align: center;
  padding: 200px;
  font-family: Montserrat;
  font-weight: 700;
}

#vai{
  float: right;

}

.grid-container {
display: grid;
grid-template-columns: auto auto auto ;
grid-gap: 50px;
padding: 10px;
position: relative;
text-align: center;
flex-direction: row;
justify-content: center;
align-content: center;
  
 
}

#btn{
  font-family: Arial;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: 10px;
  background:white;
  color: white;
  border-radius: 15px;
  width: 190px;
  box-shadow: 0px 6px 0px rgba(26, 25, 25, 0.11);
  display: inline-block;
  height: 250px;
}
#btn:active{
  position: relative;
  top: 5px;
  box-shadow: none;
}

#teste{
  color: rgb(255, 196, 0);
}

