<div class="navbarf">
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand">
          <h6 [routerLink]="['/dashboard']" id="h6">UP! MUSIC</h6>
      </a>
      <h6 [routerLink]="['/login']" id="h6">Sair</h6>
  
    </nav>
  </div>
  <div class="grid-container">

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">Intro</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button  id="btn" [routerLink]="['/notas-menores-intro']">Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">Cm</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button  id="btn" [routerLink]="['/notas-menores-c']" >Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">Dm</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-menores-d']" >Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">Em</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-menores-e']">Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">Fm</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-menores-f']">Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">Gm</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-menores-g']" >Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">Am</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-menores-a']">Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">Bm</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-menores-b']">Começar</button>
        </div>
      </div>

    </div>
  </div>



