<body>
  <div class="navbarf">
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand">
        <h6 [routerLink]="['/dashboard']" id="h6">UP! MUSIC</h6>
      </a>
      <h6 [routerLink]="['/login']" id="h6">Sair</h6>

    </nav>
  </div>
  <div class="grid-container">

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">Intro</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-intro']">Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">C</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/menu']">Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">D</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-musicais-d']">Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">E</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-musicais-e']">Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">F</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-musicais-f']">Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">G</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-musicais-g']">Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">A</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-musicais-a']">Começar</button>
        </div>
      </div>

    </div>

    <div id="card1">

      <div id="card2" class="card bg-white rounded" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" id="do">B</h5>
          <section>
            <i class="fa fa-star" id="teste"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </section>
          <br>
          <button href="#" id="btn" [routerLink]="['/notas-musicais-b']">Começar</button>
        </div>
      </div>

    </div>
  </div>
</body>