<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<!-- Image and text -->

<div class="navbarf">
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand">
      <img class="d-inline-block align-top" alt="">
      UP!Music
    </a>
    <h6 [routerLink]="['/login']" id="h6">Sair</h6>

  </nav>
</div>

<body id="corpo">
  <div class="container1">
    <div class="card1">
      <div class="face face1">
        <div class="content">
          <h2>Notas Musicais</h2>
          <p>Conjunto das sete notas sucessivas, com a repetição da primeira</p>
          <a [routerLink]="['/notas-musicais']">Começar</a>

          <div class="progress" id="progresso">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100">25%</div>
          </div>

        </div>
      </div>
      <div class="face face2">

        <h2>Notas <br>Musicais</h2>
      </div>
    </div>


    <div class="card1">
      <div class="face face1">
        <div class="content">
          <h2>Menores</h2>
          <p>Conjunto das notas na forma menor (M)</p>
          <a [routerLink]="['/notas-musicais-menores']">Começar</a>

          <div class="progress" id="progresso">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100">25%</div>
          </div>

        </div>
      </div>
      <div class="face face2">
        <h2>Menores</h2>
      </div>
    </div>



    <div class="card1">
      <div class="face face1">
        <div class="content">
          <h2>Sustenidas</h2>
          <p>Conjunto de notas com a escrita (#)</p>
          <a [routerLink]="['/notas-musicais-sustenidas']">Começar</a>

          <div class="progress" id="progresso">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100">25%</div>
          </div>

        </div>
      </div>
      <div class="face face2">
        <h2>Sustenidas</h2>
      </div>
    </div>

    <div class="card1">
      <div class="face face1">
        <div class="content">
          <h2>Campo/H</h2>
          <p>Conjunto de acordes formados a partir de uma determinada escala</p>
          <a [routerLink]="['/campo-harmonico']">Começar</a>

          <div class="progress" id="progresso">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100">25%</div>
          </div>

        </div>
      </div>
      <div class="face face2">
        <h2>Campo<br>
        Harmonico</h2>
      </div>
    </div>

    <div class="card1">
      <div class="face face1">
        <div class="content">
          <h2>Ritímica </h2>
          <p>Movimento coordenado, repetição de intervalos musicais</p>
          <a >Começar</a>

          <div class="progress" id="progresso">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100">25%</div>
          </div>

        </div>
      </div>
      <div class="face face2">
        <h2>Ritímica</h2>
      </div>
    </div>

    <div class="card1">
      <div class="face face1">
        <div class="content">
          <h2>Extras</h2>
          <p>Exercicios extras para fortalecer o aprendizado</p>
          <a [routerLink]="['/extras']">Começar</a>

          <div class="progress" id="progresso">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100">25%</div>
          </div>


        </div>
      </div>
      <div class="face face2">
        <h2>Extras</h2>
      </div>
    </div>


  </div>


</body>

</html>


<!--Estrutura do Corpo-->